body {
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  height: 20vh;
  padding: 2vh;
}


/**This is where my form stuff begins **/
form {
  /*margin: 0 auto;
  width: 900px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;*/
  max-width: 900px;
    padding: 10px 20px;
    /*background: #f4f7f8;*/
    margin: 10px auto;
    padding: 20px;
    /*background: #f4f7f8;*/
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox input {
  width: 50px;
}


.number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

legend {
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 10px;
}


form div + div {
  margin-top: 1em;
}

label{
  display: inline-block;
  width: 400px;
  font-size: 1.2em;
  text-align: right;
}



input, textarea {
  font: 1em sans-serif;
  background: #f4f7f8;
  /*border-radius: 10px;*/
  box-shadow: none;

  width: 300px;
  /*box-sizing: border-box;*/


 /* border: 1px solid #999;*/
}

/*input:focus, textarea:focus {
  /* To give a little highlight on active elements 
  border-color: #000;
})*/

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

/**I think this is where my form stuff ends*/



}
